.jumbotron {
    text-align: center;
    background-color: rgba(0, 143, 168, 0.678);
    color: white;
}

#submission-form {
    margin-bottom: 30px;
}

.edit-btn, .remove-btn {
    border-radius: 0.5px;
    margin-right: 20px;
    margin-top: 7px;
}
